<div class="side-bar">
    <div style="margin-top: 3rem;">
        <div class="background-icon-apartment-manage">
            <i class="icon-apartment-manage"><img style="    width: 30px;"
                    src="../../assets/icons/apartmentManagementIcon.png"></i>
            <h4>Apartment Management</h4>
        </div>
        <div style="text-align: center;">
            <ul style="list-style-type: none;">
                <li class="li-side-bar"><i><img src="../../assets/icons/TenantIcon.png"></i><a class="a-side-bar"
                        href="#">Tenant</a></li>
                <li class="li-side-bar"><i><img src="../../assets/icons/ContractIcon.png"></i><a class="a-side-bar"
                        href="#">Contract</a></li>
                <li class="li-side-bar"><i><img src="../../assets/icons/paymentIcon.png"></i><a class="a-side-bar"
                        href="/payment">Payment</a></li>
            </ul>
        </div>
    </div>
</div>